<div class="container my-3">
    <div class="jumbotron" style="background-color:#00ffff3d; padding: 50px; border-radius: 50px; box-shadow: 10px 15px 43px -4px black;">
        <h1 class="display-4">About This Angular App</h1>
        <p class="lead">This app is just a simple angular project and this is hand crafted by <b>Huzaifa siyamwala</b> . This is my first angular project, I hope you'll like it, I shall develop this type of more projects in future to showcase my skills.
            <span style="color:darkmagenta;">Thank you!</span> </p>
        <hr class="my-4">
        <h4>About this App</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, alias. Delectus harum voluptas, inventore blanditiis saepe ducimus. Sunt officiis animi voluptatem soluta beatae, qui eius temporibus ipsum facere similique non!.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>